.card .product-links{
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    z-index:1;
    transition:all .3s ease 0s;
}
.card:hover .product-links{
    opacity:1;
}
.card .product-links li button{
    border-radius: .5rem;
    text-align:center;
    margin-top: 1rem;
    margin-bottom: 0;
    display:block;
    position:relative;
    transition:all .3s ease-in-out;
    text-decoration: none;
}
.card .product-links li button:hover{
    color:#fff;
    background-color: #0275d8;
}

.card .product-links li{
    width: 100%;
}

.card .product-links li button{
    width: 100%;
}

@media (max-width:992px) {
    .card .product-links{
        opacity: 1;
    }
}


.card .img-wrap {
    height: 240px;
    
}

.img-wrap {
    position: relative;
    display: block;
    padding: 1rem;
    text-align: center;
}

.card .img-wrap img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.card .title {
    display: block;
    text-decoration: none;
    color: #51585e;
}

.card .info-wrap {
    padding: 1rem 1.2rem;
}